@{
    var currentYear = DateTime.Now.Year;
}
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Revenue Managements @currentYear</span>
        </div>
    </div>
</footer>