@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}
@section Style {
    <style>
        .form-change-password input::placeholder {
            font-size: 13px;
        }
    </style>
}

@model RevenueManagement.Models.Requests.User.ChangePasswordRequest;

@if (ViewBag.Status == "success")
{
    <div class="p-2 mb-2 bg-success text-white js-alert">
        @Html.Raw(ViewBag.Message)
    </div>
}

@if (ViewBag.Status == "failed")
{
    <div class="p-2 mb-2 bg-danger text-white js-alert">
        @Html.Raw(ViewBag.Message)
    </div>
}

<form class="form form-change-password" role="form" autocomplete="off" method="post" asp-action="ChangePassword" asp-controller="User">
    <div class="form-group mb-0">
        <label for="inputPasswordOld">Mật khẩu hiện tại</label>
        <input type="password" class="form-control" id="inputPasswordOld" asp-for="CurrentPassword" placeholder="Nhập mật khẩu hiện tại..." autofocus>
        <span class="form-text small text-danger" asp-validation-for="CurrentPassword"></span>
        @if (ViewBag.ErrorCurrentPassword != null)
        {
            <span class="form-text small text-danger">
                @Html.Raw(ViewBag.ErrorCurrentPassword)
            </span>
        }
    </div>
    <div class="form-group mb-0">
        <label for="inputPasswordNew">Mật khẩu mới</label>
        <input type="password" class="form-control" id="inputPasswordNew" asp-for="NewPassword" placeholder="Nhập mật khẩu mới">
        <span class="form-text small text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group mb-0">
        <label for="inputPasswordNewVerify">Xác nhận mật khẩu mới</label>
        <input type="password" class="form-control" id="inputPasswordNewVerify" asp-for="ConfirmNewPassword" placeholder="Nhập xác nhận mật khẩu mới">
        <span class="form-text small text-danger" asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-success float-left">Lưu</button>
    </div>
</form>
