@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model RevenueManagement.Models.Requests.User.StoreUserRequest;

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thêm mới</h1>
    <a href="@Url.Action("Index", "User")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        Danh sách người dùng
    </a>
</div>
<form method="post" asp-controller="User" asp-action="Save">
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" required class="form-control" placeholder="Họ tên..." asp-for="Name" autofocus>
    </div>

    <div class="form-group">
        <label>Tên người dùng</label>
        <input type="text" required class="form-control" placeholder="Tên người dùng..." asp-for="Username">
        <span asp-validation-for="Username"></span>
    </div>

    <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" required class="form-control" placeholder="Mật khẩu..." asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" class="form-control" required placeholder="Số điện thoại" name="phone" max="10" asp-for="Phone">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" required placeholder="Email" name="email" asp-for="Email">
    </div>

    <div class="form-group d-flex">
        <div>
            <label>Giới tính</label> <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" asp-for="Sex" value="1" checked>
                <label class="form-check-label" for="male">
                    Nam
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" asp-for="Sex" value="2">
                <label class="form-check-label" for="female">
                    Nữ
                </label>
            </div>
        </div>

        <div class="ml-5">
            <div class="form-group mb-0">
                <label for="start">Ngày sinh:</label><br />
                <input type="date" oninvalid="this.setCustomValidity('Ngày sinh không được để trống!')" required id="dob" asp-for="DateOfBirth" style="
                outline: none;
                border: 1px solid #c7c7c7;
                border-radius: 3px;
                padding: 2px 5px;
                color: #8f8686;" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Quyền</label>
        <select class="custom-select" asp-for="RoleId">
            @foreach (var role in ViewBag.roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Ảnh</label> <br />
        <input type="file" name="Image" asp-for="Image" />
    </div>

    <button type="submit" class="btn btn-primary w-25">Lưu</button>
</form>