@{
    ViewBag.Title = "Register";
    Layout = "_AuthLayout";
}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản</h1>
                    </div>
                    <form class="user" method="post" asp-action="" asp-controller="">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="name" placeholder="Họ và tên" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="username" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="phone" placeholder="Số điện thoại" max="10">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="password" placeholder="Mật khẩu">
                        </div>

        
                        <div class="form-group">
                            <label>Giới tính: </label>
                            <br />
                            <label for="male">Nam</label>
                            <input type="radio" value="1" id="male" name="sex" checked class="mr-3" />
                            <label for="female">Nữ</label>
                            <input type="radio" value="2" name="sex" id="female" />
                        </div>
                        
                        <div>
                            <label>Ngày sinh:</label> <br/>
                            <input type="date" class="mb-4" style="border: 1px solid lightgrey;padding: 3px 5px;border-radius: 5px;color: #878181;" />
                        </div>

                        <input type="submit" value="Đăng ký" class="btn btn-primary btn-user btn-block" />
                    </form>
                    <div class="text-center">
                        <a class="small" asp-controller="Auth" asp-action="ForgetPassword">Quên mật khẩu</a>
                    </div>
                    <div class="text-center">
                        <a class="small" asp-action="Login" asp-controller="Auth">Bạn đã có tài khoản? Đăng nhập!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

}